@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a su App</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h3>Nombre: @Model.nombreCliente </h3>
    <h3>Apellido: @Model.apellidoCliente </h3>
    <h3>Fecha de Nacimiento: @Model.fechaNacimiento </h3>
    <h3>Fecha de Registro: @Model.fecha_reg</h3> 

</div>
