@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="titulo">Bienvenido a su App</h1>
        <h3>Home en desarrollo, vuelva más tarde</h3>
    </div>
    <br>

    <div class="text-left">
        <h1 class="titulo tituloMedia">Media Queries</h1>
        <br>

        <ul class="list-group list-group-flush">
            <li class="list-group-item">Títulos en celular con fondo negro</li>
            <li class="list-group-item">Título Media Queries (↑) rojo en celular y azul en tablet y PC</li>
            <li class="list-group-item">Texto con alineaciones (↓) </li>
        </ul>
        <br>
        <h1 class="titulo">Textos alineados</h1>
        <br>
        <p class="texto1">Este texto está alineado a la izquierda en celular</p>
        <p class="texto2">Este texto está alineado al centro en celular</p>
        <p class="texto3">Este texto está alineado a la derecha en celular</p>
    </div>
</div>
<div class="text-center">
    <h2>Kendo UI Grid</h2>
    @* @(Html.Kendo().Grid<TestWebApp.Models.Producto>()
            .Name("grid")
            .Columns(columns =>
            {
                columns.Bound(c => c.ProductID).Width(100);
                columns.Bound(c => c.ProductName).Width(300);
                columns.Bound(c => c.UnitPrice).Width(100);
                columns.Bound(c => c.Discontinued).Width(200);
            })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Read(read => read.Action("Select", "Home"))
            )
        )
    *@
</div>

