@model Cliente

@{
    ViewData["Title"] = "Cliente";
}

<div class="text-center">
    <div class = "container">
        <h1 class="display-4"></h1>
        <p>
            Cliente #:@Model.idCliente <br>
            Nombre: @Model.nombreCliente <br>
            Apellido: @Model.apellidoCliente <br>
            Fecha nacimiento: @Model.fechaNacimiento<br>
            <br>
        </p>

    </div>
    
</div>
