@model List<Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center container">
    <h1 class="display-4">Clientes</h1>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in @Model)
                {
                    <tr class="filaDatos">
                        <td>@cliente.idCliente</td>
                        <td>@cliente.nombreCliente</td>
                        <td>@cliente.apellidoCliente</td>
                        <td>@cliente.fechaNacimiento.ToShortDateString()</td>
                    </tr>
                }
        </tbody>
    </table>
    </div>
    <p></p>
    <div class="row"> 
        <div class="col-sm">
            <input type="text" class="form-control" id="idCliente" placeholder="ID" readonly>
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="Nombre" placeholder="Nombres">
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="Apellido" placeholder="Apellidos">
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="datepicker" placeholder="Fecha de Nacimiento">
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-success" id="botonAnadir">Añadir</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" id="botonModificar">Modificar</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-danger" id="botonEliminar">Eliminar</button>
        </div>
    </div>
</div>
<script type="text/javascript">

            //Activa el datepicker con jQuery UI
            $("#datepicker").datepicker({
                changeMonth:true,
                changeYear:true,
                showButtonPanel:true,
             });
            
            //Actualizar campos cuando se elige un registro
            $(".filaDatos").click(function () {
                var $data=[];
                var filaDatos = $(this);
                var cells = filaDatos.find('td');
                $(cells).each(function(){
                    var $d = $(this).val()||$(this).text();
                    $data.push($d);
                });
                $("#idCliente").val($data[0]);
                $("#Nombre").val($data[1]);
                $("#Apellido").val($data[2]);
                $("#datepicker").val($data[3]);
            });

            //Click en botón Añadir
            $("#botonAnadir").click(function(){
                var id =  $("#idCliente").val();
                var nombre = $("#Nombre").val();
                var apellido = $("#Apellido").val();

                var fecha = $("#datepicker").val();
                var arregloFecha = fecha.split("/");
                var anio = arregloFecha[2];
                var mes = arregloFecha[1]-1;
                var dia = arregloFecha[0];

                var fechaDate = new Date(anio, mes, dia); // fecha será de tipo Date

                
                
            });

 </script>
