@model IEnumerable<Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center container">
    <h1 class="display-4">Clientes</h1>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Fecha de Nacimiento</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in @Model)
                {
                    <tr class="filaDatos">
                        <td>@cliente.Id</td>
                        <td>@cliente.nombreCliente</td>
                        <td>@cliente.apellidoCliente</td>
                        <td>@cliente.fechaNacimiento.ToShortDateString()</td>
                    </tr>
                }
        </tbody>
    </table>
    </div>
    <p></p>
    <form method="POST">
        
        <div class="row"> 
            <div class="col-sm">
                <input type="text" class="form-control" id="idCliente" placeholder="ID" readonly>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" id="Nombre" placeholder="Nombres" readonly>
            </div>
            <div class="col-sm">
                <input type="text" class="form-control" id="Apellido" placeholder="Apellidos" readonly>
            </div>
            
            <div class="col-sm">
                <input type="text" class="form-control" id="datepicker" placeholder="Fecha de Nacimiento" readonly>
            </div>
        </div>
        <p></p>
        <p></p>
        <div class="row">
            <div class="col-sm">
                <a asp-controller="Cliente" asp-action="Create" ><button type="button" class="btn btn-success" id="botonAnadir">Añadir</button></a>
            </div>
            <div class="col-sm">
                <a asp-controller="Cliente" asp-action="Edit" ><button type="button" class="btn btn-primary " id="botonModificar">Modificar</button></a>
            </div>
            <div class="col-sm">
                <a asp-controller="Cliente" asp-action="Delete" ><button type="button" class="btn btn-danger" id="botonEliminar">Eliminar</button></a>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
 
            //Actualizar campos cuando se elige un registro
            $(".filaDatos").click(function () {
                var $data=[];
                var filaDatos = $(this);
                var cells = filaDatos.find('td');
                $(cells).each(function(){
                    var $d = $(this).val()||$(this).text();
                    $data.push($d);
                });
                $("#idCliente").val($data[0]);
                $("#Nombre").val($data[1]);
                $("#Apellido").val($data[2]);
                $("#datepicker").val($data[3]);
            });
 </script>
