@model IEnumerable<VentaDetalle>

@{
    ViewData["Title"] = "Ventas Detalle";
}
<div class="text-center container">
    <h1 class="display-4">Detalle de Ventas</h1>
    <div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
            <th scope="col">ID</th>
            <th scope="col">Producto</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Valor Unitario (COP)</th>
            <th scope="col">Impuesto (COP)</th>
            <th scope="col">Valor Total (COP)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var venta in @Model)
                {
                    <tr class="filaDatos">
                        <td>@venta.Id</td>
                        <td>@venta.producto</td>
                        <td>@venta.cantidad</td>
                        <td>$@venta.valorUnitario</td>
                        <td>$@venta.impuesto</td>
                        <td>$@venta.valorTotal</td>   
                    </tr>
                }
        </tbody>
    </table>
    </div>
    <p></p>
    <div class="row"> 
        <div class="col-sm">
            <input type="text" class="form-control" id="idCliente" placeholder="ID" readonly>
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="Nombre" placeholder="Nombres" readonly>
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="Apellido" placeholder="Apellidos" readonly>
         </div>
        <div class="col-sm">
            <input type="text" class="form-control" id="datepicker" placeholder="Fecha de Nacimiento" readonly>
        </div>
    </div>
    <p></p>
    <p></p>
    <div class="row">
        <div class="col-sm">
            <button type="button" class="btn btn-success" id="botonAnadir">Añadir</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-primary" id="botonModificar">Modificar</button>
        </div>
        <div class="col-sm">
            <button type="button" class="btn btn-danger" id="botonEliminar">Eliminar</button>
        </div>
    </div>
</div>
<script type="text/javascript">

            //Activa el datepicker con jQuery UI
            $("#datepicker").datepicker({
                changeMonth:true,
                changeYear:true,
                showButtonPanel:true,
             });
            
            //Actualizar campos cuando se elige un registro
            $(".filaDatos").click(function () {
                var $data=[];
                var filaDatos = $(this);
                var cells = filaDatos.find('td');
                $(cells).each(function(){
                    var $d = $(this).val()||$(this).text();
                    $data.push($d);
                });
                $("#idCliente").val($data[0]);
                $("#Nombre").val($data[1]);
                $("#Apellido").val($data[2]);
                $("#datepicker").val($data[3]);
            });
 </script>
